/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.card {
  min-width: 4rem;
  max-width: 15rem;
  min-height: 4rem;
  max-height: 35rem;
}

.super-div {
  max-width: 155rem;
  max-height: 155rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.course-container {
  justify-content: center;
  margin-top: 2px;
  margin-bottom: 2px;
  /* text-align: center; */
}

.typeSelect {
  min-width: 4rem;
  max-width: 35rem;
  min-height: 4rem;
  max-height: 15rem;
}

.jumbotron {
  /* max-width: 90rem; */
  max-height: 19rem;
}

.search {
  margin-left: 10px;
  float: right;
  height: 30px;
  width: 200px;
}

.card-img-left {
  min-width: 4rem;
  max-width: 20rem;
  min-height: 4rem;
  max-height: 30rem;
  float: left;
}

.navbar-cart {
  float: right;
}

.cart-splash-container {
  padding-bottom: 50px;
}

.button {
  vertical-align: bottom;
}

.form-column {
  width: 400px;
}